/*inputBar*/
.inputBar {
    width: auto;
    height: auto;
    background-color: #DDDDDD;
}

.main-content-container .inputBar .first {
        height: 12%;
        width: 50%;
        margin: auto;
    }
.main-content-container .inputBar .first .form-group {
        width: 50%;
        height: 100%;
        display: inline-block;
        margin: auto
    }
    .main-content-container .inputBar .first .DoneButton {
        display: inline-block;
        width: 30%;
        height: 100%;
        position: absolute;
        top: 3%;
    }

/*
.topnav .title
{
    color: #f2f2f2;
    display: block;
    float: center;
    font-size: 23px;
    padding-top: 10px;
    padding-right: 70px; /*Takes care of title offset from green box*/
    text-align: center;
}

/* Style the links inside the navigation bar */
/*
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover *
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page *
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens *
.topnav .icon {
    display: none;
}




]
