body{
    padding:0px;
    margin:0px;
}
.main-top-nav{
    height: 7vh; 
    background-color: #007bff; 
}
#main-content {
    list-style-type: none;
}

.section {
    min-width: 400px;
    max-width: 90%;
    margin: 25px;
    cursor: move;
}
.section-text, .note-text-container {
    cursor: pointer;
}
.note-text {
    width: 90%;
}


.hamburger-wrapper {
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.hamburger {
    font-size: 25px;
    width: 100%;
    height: 100%;
    margin: auto auto;
    padding-top: 10px;
}
.hamburger-opener {
    text-align: left;
}
.hamburger-closer {
    text-align: right;
}

.side-nav-sections-container {
    background-color: #f2f2f2; 
}
#side-nav-sections {
    padding: 0;
    margin-top: 2vh;
    height: 93vh;
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}
#main-side-nav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 100000;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s; /* 0.5 second transition effect to slide in the side-nav */
}


.side-nav-sections a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    width: 85%;
    margin: 0 auto;
}
/* When you mouse over the navigation links, change their color */
.side-nav-sections a:hover {
    color:#999999 !important;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}




/* On smaller screens, where height is less than 450px, change the style of the side-nav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #main-side-nav {padding-top: 30px;}
    #main-side-nav a {font-size: 14px;}
}

#main-content-container{
    transition: 0.3s; /* 0.5 second transition effect to slide in the side-nav */
    margin-top: 7vh; /* Topbar is fixed, so need this margin to prevent overlapping*/
}

.DoneButton .button {

    outline: none;
}
#input-content-container {
    transition: 0.3s; /* 0.5 second transition effect to slide in the side-nav */
    margin-top: 7vh; /* Topbar is fixed, so need this margin to prevent overlapping*/
}
