<head>

    <!-- This is the navBar Code: https://www.w3schools.com/howto/howto_js_sidenav.asp -->
    <link rel="stylesheet" href="/static/css/navStyle.css">

    
    <!--<link rel="stylesheet" type="text/css" href="../../acc/libraries/select2-4.0.5/dist/css/select2.min.css" >-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <!--<link href="../../acc/libraries/bootstrap-side-navbar/source/assets/stylesheets/navbar-fixed-side.css" rel="stylesheet">-->
    <!--<link href="../../acc/libraries/bootstrap-material-design/css/style.css" rel="stylesheet">-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet"> -->
    <link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet">
    <!--<link href="../../acc/libraries/malihu-custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">-->

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
    <!--<script type="text/javascript" src="../../acc/libraries/stickybits/dist/stickybits.min.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"> </script>
    <!--<script type="text/javascript" src="../../acc/libraries/malihu-custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"> </script>-->
    <!--<script src="../..//acc/libraries/select2-4.0.5/dist/js/select2.full.js"></script>-->
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery_jeditable/dist/jquery.jeditable.min.js') }}"></script>



    <script type="text/javascript" src="static/js/arthur.js"></script>

    <style>
        #main-content {
            list-style-type: none;
        }

        .section {
            max-width : 90vw;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .note-text{
            width: 90%;
        }
        /* .note-text-editing {
            width: 100%
        } */
        .note-text-container{
            cursor: pointer;
        }

    </style>

</head>
<body>
    <!-- Top bar Navigation -->
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active"><span onclick="openNav()">open</span></a>
        <href="javascript:void(0);" class="title">NoteArthur</a>
        <!-- <a href="#contact">Contact</a>
        <a href="#about">About</a> -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>


    <!-- Side bar Navigation -->
    <script src="/static/js/navBar.js"></script>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Something1</a>
        <a href="#">Something2</a>
        <a href="#">Something3</a>
        <a href="#">Something4</a>
      </div>
      <!-- Use any element to open the sidenav -->
      
      
    <div id="main-content-container" class="main-content-container">
        <ul id="main-content" class="main-content">
            <li id="section-0" class="section">
                <div>
                    <div>SectionHeader</div>
                    <ul class="notes-list">
                        <li>Prep for Python exam</li>
                        <li>Install Django</li>
                        <li>Turn in SW essay due on 02/27</li>
                    </ul>
                </div>
            </li>

            <li id="section-1" class="section">
                <div>
                    <div>SectionHeader</div>
                    <ul class="notes-list">
                        <li>Prep for Python exam</li>
                        <li>Install Django</li>
                        <li>Turn in SW essay due on 12/27</li>
                    </ul>
                </div>
            </li>

        </ul>



    </div>


    <script>



    //Load logic
    $(window).on("load", function(){

        initPage();

    });

    </script>
    
    <!--hello Rohan and Bo-->
    <!--hello-->
</body>
