<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
    {% if title %}
    <title>{{ title }} - Arthur</title>
    {% else %}
    <title>Welcome to Note Arthur</title>
    {% endif %}
    <style type="text/css">
        body, td, th {
            font-family: "Helvetica","Arial",sans-serif;
        }

        body {
            background-color:#2B2B2B;
        }
    </style>
</head>
<body>
    <ul>
        <li><a class="active" href="#home">Microblog:</a></li>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    <div class="wrapper">
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="notice">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript">
$('#login-button').click(function(event){
	event.preventDefault();
	$('form').fadeOut(500);
	$('.wrapper').addClass('form-success');
});
    $(document).ready(function () {
        $(".box.user_name input").attr("placeholder", "Username");
        $(".box.password input").attr("placeholder", "Password");
        $(".box.email_address input").attr("placeholder", "Email");
        $(".box.password2 input").attr("placeholder", "Repeat Password");
    });
</script>
</body>
</html>
