{% extends "base.html" %}
{% block content %}
    <h1 >Note Arthur</h1>
    <form action="" method="post" class="form">
        {{ form.hidden_tag() }}
        <div class="thebox1">
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="thebox2">
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div class="submitbutton">{{ form.submit() }}</div>
    </form>

{% endblock %}